# Base de datos
DB_HOST=localhost
DB_PORT=5432
DB_NAME=bodega_db
DB_USERNAME=bodega_user
DB_PASSWORD=secret

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379

# JWT
JWT_SECRET=V5Y5fYVfP9f4Xh4h9uJ6vA9nLxW8Jg3M4P1mR7cN2qK8zB5sD1wE6tY9uI0oP4aS
JWT_EXPIRATION_MS=28800000

# App
APP_PORT=8080
APP_ENV=dev
